@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#topnav{
  color: #DD22AA;
  text-decoration: none;
  position: relative;
  top: 0px;
  transition-duration: .5s;
}

#topnav:hover{
  color: #22DDAA;
  text-decoration: underline;
  position: relative;
  top: 3px;
  transition-duration: .5s;
}

/*.nav .navbar-right .navbar-nav{
  color: #444;
}

#topnav:hover .navbar-right:hover .navbar-nav:hover{
  color: #2222DD;
}*/

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  transition-duration: .9s;
}

#logo:hover {
  color: #4070FF;
  text-decoration: none;
  font-size: 1.75em;
  transition-duration: .5s;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
  position: relative;
  bottom: 0px;
  transition-duration: .5s;
}

footer a:hover {
  color: #22C222;
  position: relative;
  bottom: 3px;
  transition-duration: .5s;

}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}
